{{ $hr := .Get "hr" | default "true" }}
{{ $show := ne (lower (printf "%v" (.Site.Params.articleCredit | default "show"))) "hide" }}
{{ if $show -}}
  {{ with .Inner }}{{ . | markdownify }}{{ end }}
  {{ if ne (lower $hr) "false" }}{{ "---" | markdownify }}{{ end }}
  {{ printf "%s *%s*  \n%s *%s*\n"
     (.Site.Params.credit.publishedOn | default "บทความนี้เผยแพร่บน")
     (.Get "siteName" | default (.Site.Params.siteName | default "เพจสาระเซียน"))
     (.Site.Params.credit.writtenBy   | default "เขียนโดย")
     (.Get "author" | default (.Page.Params.author | default .Site.Params.author | default "วัยสนธยา")) | markdownify }}
{{- end }}

